body {
    background: hsl(0, 0%, 10%);
    color: hsla(0, 0%, 80%, 0.39);

}

h1 {
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

h1:hover {
    transform: scale(1.01);
    color: hsla(0, 0%, 80%, 0.50);
}